# Copy to .env and fill in your values

# Google Gemini API Key for server
GOOGLE_API_KEY=your_api_key_here

# ESP32 Configuration
WIFI_SSID=WIFI_SSID
WIFI_PASSWORD=PASSWORD
PIPECAT_SMALLWEBRTC_URL=http://YOUR_IP_ADDRESS:7860/api/offer


